
footer {
    div {
        height: 100%;
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            object-fit: contain;
        }
    }
}